body{
    background-color: rgb(240, 172, 25);
}
.box{
    outline: 2px solid black;
    width: 300px;
    height: 300px;
    font-size: 280px;
    text-align: center;
    border-radius: 30px;
    background-color: aquamarine;
}
.row{
    display: flex;
}
.board{
    z-index: 999;
    text-align: center;
    left: 50%;
    top: 55%;
    width: fit-content;
    position: absolute;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.whowon{
    width: fit-content;
    min-height: 57px;
    margin: auto;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.newgame{
    width: 100px;
    height: 80px;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: turquoise;
    border: 2px solid turquoise;
    box-shadow: 15px 15px 10px rgba(60, 248, 204, 0.518);
}
.newhold{
    margin: auto;
    width: fit-content;
}

.line-1{
    z-index: 15;
    opacity: 0.5;
}
.line-2{
    z-index: 10;
    opacity: 0.7;
}
.line-3{
    z-index: 5;
}
.wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 86.7vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.wave1{
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
}
.wave2{
    -webkit-background-size: 50% 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
}
.wave3{
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite;
}



