body{
    background-color: rgb(240, 172, 25);
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}
.box{
    outline: 2px solid black;
    width: 120px;
    height: 120px;
    font-size: 100px;
    text-align: center;
    border-radius: 30px;
    background-color: aquamarine;
}
.row{
    display: flex;
}
.board{
    z-index: 999;
    text-align: center;
    left: 50%;
    top: 55%;
    height: fit-content;
    width: fit-content;
    position: absolute;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.whowon{
    width: fit-content;
    min-height: 36px;
    margin: auto;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.newgame{
    width: 70px;
    height: 60px;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: turquoise;
    border: 2px solid turquoise;
    box-shadow: 15px 15px 10px rgba(60, 248, 204, 0.518);
}
.newhold{
    margin: auto;
    width: fit-content;
}

